.about{
    height: 100%;
}
.about .side-nav{
    background-color: #333;
    height: 100%;
}
.about .side-nav li{
    display: flex;
    gap: 0.5rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 2px;
    padding-block: 8px;
    padding-left: 8px;
    padding-right: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.hover_:hover{
    background-color: #292929;
}
.selected{
    background-color: #E95420;
}