@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow: hidden;
  user-select: none;
  /* soverflow: visible; */
}

.resizable-content {
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}

body {
  background-image: url("https://unsplash.com/photos/EOnlL3L3IgQ/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzAxNTA4NjUzfA&force=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
